/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Plain Light";
    color:#fff;

}

html,body{
    width: 100%;
    height: 100%;
    
}

body{
    overflow-x: hidden;
}

.mousefollower{
    border: 2px solid #FFF;
    background-color: rgb(255, 255, 255);
    scale: 2;
    mix-blend-mode: difference;
}

/*Cursor completed*/

#loader{
    height: 100vh;
    width: 100%;
    background-color: #0B0B0B;
    position: fixed;
    z-index: 999;
    padding: 16vh 8vw;
    text-transform: uppercase;
}

#loader #few{

    margin-top: 8vh;
    margin-left: 20vw;
    width: 10%;
    text-transform:lowercase ;
}
#few span{
    text-transform: uppercase;
}

.line{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3vw;
}

#num{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.6vw;
}

#num h5, #num h6{
    font-size: 3.5vw;
    text-transform: italic;
    font-family: "silk serif";
    font-weight: 100;
}

#num h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    font-weight: 900;
}

.line h2{
    font-size: 5vw;
    font-weight: 900;
    opacity: 0;
    -webkit-animation-duration: 1.7s;
            animation-duration: 1.7s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;

    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;

    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;

    }
}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;

    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;

    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;

    }
}


/*Loader completed*/

#main{
    position: relative;
    background-color: #151515;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    margin-bottom: 20vh;
}

#page1 #nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 7.3vw;
}

#nav #nav2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3vw;
}
#nav #multiple{
    margin-top: 5vh;
}
#multiple h4{
    font-size: 1vw;
    font-weight: 400;
    margin-right: 28vw;
    line-height: 16px;
}


#nav2 h4{
    font-weight: 400;
    font-size: 1vw;
}

.page1-body{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 72%;
    margin-left: 27%;
    overflow-y: hidden;

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 9999;
}

.page1-body:nth-child(2){
    margin-top:18vh ;
}

.page1-body h1{
    font-size: 7.2vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height:7.2vw ;
}

#body1::before{
    content: "01";
    position: absolute;
    top: -5%;
    left: -12%;
    font-family: "silk serif";
    font-size: 3.2vw;
}
.page1-body h2{
    font-size: 7.2vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height:7.2vw ;
    border-bottom: 0.6vw solid #fff;

}
.page1-body h3{
    font-size: 7vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height:7.2vw ;
    margin-left: 1vw;
}

.page1-body h2:hover{
    -webkit-text-stroke: 1px #fff;
    color:transparent;
    font-weight: 500;
    border-bottom: 0.6vw solid #ffffff00;
    -webkit-transition: all Ease 0.3s;
    -o-transition: all Ease 0.3s;
    transition: all Ease 0.3s;
}

/*page1 completed*/


#page2{
    height: 100vh;
    width: 100%;
    background-color:#151515 ;
    padding-top: 5vh;
    position: relative;
}

#page2-video{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-color: red;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}


/*
#page2-video img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top:0;
}*/
#page2-video video{
    height: 100%;
    width: 100%;
    -o-object-fit: cover ;
       object-fit: cover ;
    opacity: 0;
}

#vid-cursor{
    background-color: #FFA63D;
    border-radius: 50%;
    height: 10.5vw;
    width: 10.5vw;
    position: absolute;
    top:-10%;
    left:80%;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#vid-cursor i{
    font-size: 2vw;
}

/*page2 completed*/

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 17vh 2vw;
    margin-bottom: 85vh;
    margin-top: 20vh;
}


#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;

}
#page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 400;
    left: -15%;
    top: 0;
}
#page3 .undline{
    margin-left: 28vw;
}

#page3-img{

    padding: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  
}

.image-div{
    height: 38vw;
    width: 27vw;
    background-color: #02173e;
    position: relative;
    overflow: hidden;
    -ms-flex-negative:0 ;
        flex-shrink:0 ;
    margin: 2vw;
}

.image-div:nth-child(1){

    height: 29vw;
    width: 21vw;
}

.image-div img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.page3-cir1{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 23vh;
    margin-left: 10vw;
    position: relative;

}

.page3-cir1 svg{
    height: 30%;
}


.page3-cir2{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;

}

.page3-cir2 svg{
    height: 30%;
    rotate: -45deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale: 0;
    border-radius: 50%;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;

}

.circle-in p{
    font-size: 0.95vw;
    color: #151515;
    width: 70%;
    font-weight: 700;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
    opacity: 0;
}

.page3-cir1:hover  .circle-in{
    scale: 1;
}
.page3-cir1:hover  p{
    scale: 1;
    opacity: 1;

}

#cirr{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale: 0;
    border-radius: 50%;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;

}

#cirr p{
    font-size: 0.95vw;
    color: #151515;
    font-weight: 700;

    -webkit-transition: all ease 0.5s;

    -o-transition: all ease 0.5s;

    transition: all ease 0.5s;
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;

}

.page3-cir2:hover  #cirr{
    scale: 1;
}

#outer-cirr{
    background-color: #FFA63D;
    color: #FFF;
    border-radius: 50%;
    height: 23vw;
    width: 23vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40%;
    margin-top: 15vh;
    font-weight: 600;

    -webkit-transition: -webkit-transform 0.5s ease;

    transition: -webkit-transform 0.5s ease;

    -o-transition: transform 0.5s ease;

    transition: transform 0.5s ease;

    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
}

#outer-cirr:hover{

    -webkit-transform: scale(0.8);

        -ms-transform: scale(0.8);

            transform: scale(0.8);
}

#outer-cirr span{
    font-family: silk serif;
    font-weight: 400;
}
/*page3 completed  */

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-top: 7vh 0;
    margin-bottom: 60vh;
}

#page4-body{
    width: 72vw;
    position: relative;
    margin-left: 28%;
}

#page4-body h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
#page4-body h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 400;
    left: -15%;
    top: 0;
}
#page4-body .undline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 6vw;
}

#page4-body>p{ /*selecting first para*/
    font-size: 2.2vw;
    width: 50%;
    margin-bottom: 3.8vw;
}

#page4-imgflex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
#page4-imgflex img{
    width: 45%;
}
#page4-imgflex p{
    font-size:1vw ;
    width: 21%;
    margin-left: 2vw;
} 

#page4-blue{
    background-color: #3F7DF4;
    width: 32vw;
    padding: 3vw;
    position: relative;
    margin-top: -29vh;
    margin-left:47vh ;
    height: 80vh;

}

#page4-blue .divelem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5vw 0;
    border-bottom: 1px solid #ffffffb0;
    margin: 2vh;
    
}

.divelem p{
    width: 40%;

}

.divelem h4{
    font-weight: 500;
    font-size: 1.5vw;
    margin-top: 1vh;
}

#page4 .undlinee{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 5vw;
    margin-left: 30%;
}

#sma{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
    margin-left: 30%;
    margin-top: 2vh;  
}

/*page4 completed*/

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    margin-bottom: 0vh;

}
@-webkit-keyframes anime-word {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}
@keyframes anime-word {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

.page5-elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}
.page5-elem h1{
    font-size: 7vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 300;
    color: transparent;
    display: inline-block;
    margin-right: 26px;
    -webkit-animation-name: anime-word;
            animation-name: anime-word;
    -webkit-animation-duration: 24s;
            animation-duration: 24s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}


.page5-elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}


.page5-elem2 h1{
    font-size: 7vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 300;
    color: transparent;
    display: inline-block;
    margin-right: 26px;
    -webkit-animation-name: anime-word;
            animation-name: anime-word;
    -webkit-animation-duration: 24s;
            animation-duration: 24s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
    -webkit-transform: translateX(calc(-100% - 30px));
        -ms-transform: translateX(calc(-100% - 30px));
            transform: translateX(calc(-100% - 30px));
}

.page5-elem span,.page5-elem2 span{
    font-size: 7vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 300;
    color: transparent;
    font-family: silk serif;
}

/*page5 completed*/

#footer{
    height: 95vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    background-color: #151515;
}

#footer h1 {
    font-size: 7.2vw;
    text-transform: uppercase;
    /* background-color: blue; */
    position: relative;
}

#footer-text {
    position: relative;
    /* background-color: red; */
}

#footer-text h2 {
    font-size: 7.2vw;
    text-transform: uppercase;
    position: absolute;
    top: -10%;
    font-weight: 500;

    left: 0;
    font-family: "silk serif";
}

#footer-text h2 span {
    font-family: "silk serif";
    opacity: 0;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

#footer-text::before {
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -13%;
    top: 6%;
}


.undline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 3.6vw 0;
}

#footer-mid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 2.5vw;
    padding-top: 3vw;
    margin-bottom: 6vw;
}

.box{
    width: 30%;
}

#footer-mid .box h5{
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: 1vw;
}
#footer-mid .box h6{
    font-weight: 500;
    font-size: 1.6vw;

}

#footer h3{
    font-size: 1vw;
    font-weight: 500;
}
/*footer completed*/

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}

#flag{
    height: 25vw;
    position: absolute;
    top:0;
    left: 0;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    opacity: 0;
}

#body3{

    width: -webkit-fit-content;

    width: -moz-fit-content;

    width: fit-content;
    z-index: 99;
}




































/**********************************/
@media (max-width:600px) {
    body{
        overflow-x: hidden;
    }

    #loader{
        height: 100vh;
        width: 100%;
        background-color: #0B0B0B;
        position: fixed;
        z-index: 999;
        padding: 16vh 8vw;
        text-transform: uppercase;
    }
    
    #loader #few{

        margin-top: 10vh;
        margin-left: 0vw;
        width: 10%;
        text-transform:lowercase ;
        font-weight: 500;
    }
    #few span{
        text-transform: uppercase;
        font-weight: 550;

    }
    
    .line{
        
        height: -webkit-fit-content;
        
        height: -moz-fit-content;
        
        height: fit-content;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        gap: 3vw;
    }
    
    .line:nth-child(1){
        margin-top: 10vh;
    }

    #num{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 3.6vw;
    }
    
    #num h5, #num h6{
        font-size: 4.5vw;
        text-transform: italic;
        font-family: "silk serif";
        font-weight: 100;
    }
    
    #num h5{
        width: 5vw;
        text-align: right;
    }
    
    .line h1{
        font-size: 8.5vw;
        font-weight: 900;
    }
    
    .line h2{
        font-size: 5vw;
        font-weight: 900;
        opacity: 0;
        -webkit-animation-duration: 1.7s;
                animation-duration: 1.7s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    
    @-webkit-keyframes anime {
        0%{
            font-family: "plain light";
            -webkit-text-stroke: 1px #fff;
            color: #fff;
            font-weight: 500;
            opacity: 1;
        }
        47%{
            font-family: "plain light";
            -webkit-text-stroke: 1px #fff;
            color: #fff;
            font-weight: 500;
            opacity: 0;
    
        }
        50%{
            font-family: "silk serif";
            -webkit-text-stroke: 1px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 1;
    
        }
        100%{
            font-family: "silk serif";
            -webkit-text-stroke: 1px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 0;
    
        }
    }
    
    @keyframes anime {
        0%{
            font-family: "plain light";
            -webkit-text-stroke: 1px #fff;
            color: #fff;
            font-weight: 500;
            opacity: 1;
        }
        47%{
            font-family: "plain light";
            -webkit-text-stroke: 1px #fff;
            color: #fff;
            font-weight: 500;
            opacity: 0;
    
        }
        50%{
            font-family: "silk serif";
            -webkit-text-stroke: 1px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 1;
    
        }
        100%{
            font-family: "silk serif";
            -webkit-text-stroke: 1px #fff;
            color: transparent;
            font-weight: 500;
            opacity: 0;
    
        }
    }
    
    
    /*Loader completed*/


#page1{
    height: 60vh;
    width: 100%;
    padding-top: 1px;
}

#page1 #nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    padding: 4.3vw 5vw;
    position: fixed;
    top: 0;
}
#nav svg{
    scale: 0.8;
}

#nav #nav2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3vw;
    display: none;
        
}
#nav #multiple{
    display: none;
}
#multiple h4{
    font-size: 1vw;
    font-weight: 400;
    margin-right: 28vw;
    line-height: 16px;
}


#nav2 h4{
    font-weight: 400;
    font-size: 1vw;

}

.page1-body{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 72%;
    margin-left: 5%;
    overflow-y: hidden;

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 9999;
}

.page1-body:nth-child(2){
    margin-top:25vh ;
}

.page1-body h1{
    font-size: 9.8vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height:10.5vw ;
}
/*
#body1::before{
    content: "01";
    position: absolute;
    top: 15%;
    left: 29%;
    font-family: "silk serif";
    font-size: 5vw;
}*/


.page1-body h2{
    font-size: 9.8vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height:10.5vw ;
    border-bottom: 0.6vw solid #fff;
    
}
.page1-body h3{
    font-size: 7vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height:7.2vw ;
    margin-left: 1vw;
}

/*page1 completed*/



#page2{
    height: 58vh;
    width: 100%;
    background-color:#151515 ;
    padding-top: 0vh;
    position: relative;
}

#page2-video{
    height: 52vh;
    width: 100vw;
    position: relative;
    left: 0%;
    background-color: red;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}


/*
#page2-video img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top:0;
}*/
#page2-video video{
    height: 100%;
    width: 100%;
    -o-object-fit: cover ;
       object-fit: cover ;
    opacity: 0;
}

#vid-cursor{
    background-color: #FFA63D;
    border-radius: 50%;
    height: 25vw;
    width: 25vw;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#vid-cursor i{
    font-size: 5vw;
}

/*page2 completed*/




#page3{
    min-height: 65vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding:0 3vw;
    margin-bottom: 0vh;
    margin-top: 0vh;
}


#page3 h1{
    font-size: 9.5vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 2vw;
    
}
/*
#page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 5vw;
    font-family: "silk serif";
    font-weight: 400;
    left: 2%;
    top: -35;
}
    */
#page3 .undline{
    margin-left: 2vw;
    width: 96%;
    margin-top: 6vw;
}

#page3-img{
    margin-top: 10vw;
    padding: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.image-div{
    height: 115vw;
    width: 90vw;
    background-color: #02173e;
    position: relative;
    overflow: hidden;
    -ms-flex-negative:0 ;
        flex-shrink:0 ;
    margin: 2vw;
    margin-bottom: 8vw;
}

.image-div:nth-child(1){
    height: 115vw;
    width: 90vw;
}

.image-div img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.page3-cir1{

    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 23vh;
    margin-left: 10vw;
    position: relative;
    display: none;
}

.page3-cir1 svg{
    height: 30%;
}


.page3-cir2{

    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    display: none;
}

.page3-cir2 svg{
    height: 30%;
    rotate: -45deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale: 0;
    border-radius: 50%;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;

}

.circle-in p{
    font-size: 0.95vw;
    color: #151515;
    width: 70%;
    font-weight: 700;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
    opacity: 0;
}

.page3-cir1:hover  .circle-in{
    scale: 1;
}
.page3-cir1:hover  p{
    scale: 1;
    opacity: 1;

}

#cirr{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale: 0;
    border-radius: 50%;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;

}

#cirr p{
    font-size: 0.95vw;
    color: #151515;
    font-weight: 700;

    -webkit-transition: all ease 0.5s;

    -o-transition: all ease 0.5s;

    transition: all ease 0.5s;
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;

}

.page3-cir2:hover  #cirr{
    scale: 1;
}

#outer-cirr{
    background-color: #FFA63D;
    color: #FFF;
    border-radius: 50%;
    height: 45vw;
    width: 45vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 25%;
    margin-top: 5vh;
    font-weight: 600;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
}

#outer-cirr:hover{

    -webkit-transform: scale(0.8);

        -ms-transform: scale(0.8);

            transform: scale(0.8);
}

#outer-cirr span{
    font-family: silk serif;
    font-weight: 400;
}
/*page3 completed  */




#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 15vh 5vw;
    margin-bottom: 0vh;
}

#page4-body{
    width: 90vw;
    position: relative;
    margin-left: 0;
}

#page4-body h1{
    font-size: 10vw;
    text-transform: uppercase;
    position: relative;
}
#page4-body h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 400;
    left: -15%;
    top: 0;
}
#page4-body .undline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 7vw 0 10vw 0;
}

#page4-body>p{ /*selecting first para*/
    font-size: 5.8vw;
    width: 90%;
    margin-bottom: 3.8vw;
}

#page4-imgflex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#page4-imgflex img{
    width: 100%;
    margin: 5vw 0 8vw 0;
}
#page4-imgflex p{
    font-size:3.5vw ;
    width: 90%;
    margin-left: 0vw;
    line-height: 5.5vw;
    margin-bottom: 5vw;
} 

#page4-blue{
    background-color: #3F7DF4;
    width: 90vw;
    padding: 7vw;
    position: relative;
    margin-top: 0vh;
    margin-left:0vh ;
    height: 75vh;

}

#page4-blue .divelem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4.9vw 0;
    border-bottom: 1px solid #ffffffb0;
    margin: 2vh;
    
}

.divelem p{
    width: 50%;
    font-size: 3.5vw;
}

.divelem h4{
    font-weight: 500;
    font-size: 3vw;

}

#page4 .undlinee{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 19vw;
    margin-left: 0%;
}

#sma{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
    margin-left: 0%;
    margin-top: 3vh;  
}

/*page4 completed*/



#page5{
    min-height: 60vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    margin-bottom: 0vh;
}
@-webkit-keyframes anime-word {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}
@keyframes anime-word {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

.page5-elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
    line-height: 25vw;
}
.page5-elem h1{
    font-size: 12vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 300;
    color: transparent;
    display: inline-block;
    margin-right: 26px;
    -webkit-animation-name: anime-word;
            animation-name: anime-word;
    -webkit-animation-duration: 24s;
            animation-duration: 24s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}


.page5-elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}


.page5-elem2 h1{
    font-size: 12vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 300;
    color: transparent;
    display: inline-block;
    margin-right: 26px;
    -webkit-animation-name: anime-word;
            animation-name: anime-word;
    -webkit-animation-duration: 24s;
            animation-duration: 24s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
    -webkit-transform: translateX(calc(-100% - 30px));
        -ms-transform: translateX(calc(-100% - 30px));
            transform: translateX(calc(-100% - 30px));
}

.page5-elem span,.page5-elem2 span{
    font-size: 12vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 300;
    color: transparent;
    font-family: silk serif;
}

/*page5 completed*/



#footer{
    height: 108vh;
    width: 100%;
    position: relative;
    padding: 0vw 5vw;
    background-color: #151515;
}

#footer h1{
    font-size: 9.7vw;
    text-transform: uppercase;
    font-weight: 600;
    width: 70vw;
    padding-right: 2vw;
    position: relative;
}

/*
#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 400;
    left: -15%;
    top: 6%;
}
    */


.undline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 8vw 0;
}

#footer-mid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 2.5vw;
    padding-top: 3vw;
    margin-bottom: 6vw;
}

.box{
    width: 30%;
    margin-bottom: 6.5vw;
}

#footer-mid .box h5{
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 5vw;
}
#footer-mid .box h6{
    font-weight: 500;
    font-size: 5.5vw;


}
#footer-mid .box span{
    font-weight: 500;
    font-size: 5.5vw;
    text-decoration: underline;

}

#footer h3{
    font-size: 4vw;
    font-weight: 500;
}
/*footer completed*/
}